<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <script src="/static/admin/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.all.js"></script>
    <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入bootstrap样式 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<style>
    .sub{
        margin-top: 2%;
    }
</style>


</head>
<body>
<div id="app">

    <form action="{:url('admin/admin/edit')}" method="post">
        <div >
            <select class="form-control" name="role_id">
                <option value="1">请选择权限</option>
                {volist name="list" id="vo"}
                    <option value="{$vo.role_id}" {eq name="$vo.role_id" value="$listA.role_id"}selected="selected"{/eq}>
                       {$vo.role_name}
                    </option>
                {/volist}
            </select>
            <input type="hidden" name="id" value="{$listA.id}">
            <input type="text" class="form-control sub" name="username" placeholder="请输入用户名" value="{$listA.username}">

            <input type="password" class="form-control sub" name="password" placeholder="请输入密码" value="{$listA.password}">
        </div>

        <button class="layui-btn layui-btn-fluid sub" lay-submit="" lay-filter="sreach"><i class="layui-icon"></i>增加</button>

    </form>
</div>
</body>
</html>