<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
    <!--[if lt IE 9]>
    <script src="/static/admin/js/html5.js"></script>
    <![endif]-->
    <script src="/static/admin/js/jquery.js"></script>

    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/layui/css/modules/layer/default/layer.css">
    <script src="/static/layui/layui.all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/static/layui/lay/modules/layer.js"></script>
    <!--<script src="/static/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>-->
    <script>

        (function($){
            $(window).load(function(){

                $("a[rel='load-content']").click(function(e){
                    e.preventDefault();
                    var url=$(this).attr("href");
                    $.get(url,function(data){
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo","h2:last");
                    });
                });

                $(".content").delegate("a[href='top']","click",function(e){
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
                });

            });
        })(jQuery);
    </script>
</head>
<body>
<!--header-->
<header>
    <h1><img src="/static/admin/img/admin_logo.png"/></h1>
    <ul class="rt_nav">
        <li><a href="{:url('admin/index/index')}"  class="website_icon">站点首页</a></li>
        <!--<li><a href="#" class="clear_icon">清除缓存</a></li>-->
        <!--<li><a href="#" class="admin_icon">DeathGhost</a></li>-->
        <li><a href="#" class="set_icon" onclick="setup()">修改密码</a></li>
        <li><a href="{:url('admin/login/logout')}" class="quit_icon">安全退出</a></li>
    </ul>
</header>